* {
  margin: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 67.5em) {
    html {
      font-size: 60.5%; } }
  @media only screen and (max-width: 56em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40.5%; } }

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 300;
  background-color: #000; }

.wrapper {
  display: grid;
  grid-template-rows: min-content 10rem; }

.header-container {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.header {
  max-width: 164rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 3.3rem 0;
  justify-content: space-evenly; }

.nav__main {
  justify-self: start;
  align-self: center; }

.nav__social {
  justify-self: end;
  align-self: center; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #00d646; }

.selected {
  color: #00d646; }

.link__main {
  padding-right: 5.8rem;
  font-size: 1.8rem; }

.link__social {
  padding-left: 5.8rem;
  font-size: 1.8rem; }

.logo__header {
  max-width: 14.4rem;
  justify-self: center; }

.home-container {
  background-image: url(/images/landing-cover-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.intro {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  padding: 28vh 0 23vh;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .intro {
      padding: 20vh 0 20vh; } }

.portfolios {
  padding: 20vh 0 0;
  display: grid;
  max-width: 164rem;
  margin: 0 auto; }
  .portfolios__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    grid-gap: 5rem;
    margin-bottom: 20rem; }

.portfolio {
  position: relative; }

.portfolio-container {
  background-color: #090909; }

.image {
  width: 100%; }

.image,
.portfolio:hover .overlay {
  height: 100%; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  max-width: auto;
  height: 0;
  transition: .5s ease; }

.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center; }

.footer-container {
  background-color: #000; }

.footer {
  max-width: 164rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 3.3rem 0;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      line-height: 2;
      text-align: center;
      padding: 1rem; } }
  @media only screen and (max-width: 56em) {
    .footer {
      padding: 1rem; } }
  .footer__mail {
    text-decoration: none;
    color: #fff; }
  .footer__mail:hover {
    color: #00d646; }

.heading__1 {
  text-transform: uppercase;
  font-size: 8.4rem;
  font-weight: 800;
  color: #00d646; }
  @media only screen and (max-width: 37.5em) {
    .heading__1 {
      font-size: 4.8rem; } }
  .heading__1--lastname {
    font-size: 14.2rem;
    font-weight: 800; }
    @media only screen and (max-width: 37.5em) {
      .heading__1--lastname {
        font-size: 8rem; } }

.heading__2 {
  font-size: 6.4rem; }

.heading__3 {
  font-size: 4.6rem; }
  .heading__3--skill {
    font-size: 4.6rem;
    font-weight: 800;
    text-transform: uppercase;
    justify-self: center;
    margin-bottom: 8.6rem; }

.heading__4 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700; }
  .heading__4--company {
    color: #00d646; }
  @media only screen and (max-width: 37.5em) {
    .heading__4 {
      font-size: 2rem; } }

.heading__5 {
  font-size: 1.6rem;
  color: #fff; }
  .heading__5--designation {
    padding-top: 4rem;
    font-weight: 700;
    font-size: 1.6rem; }
  .heading__5--course {
    font-weight: 700;
    font-size: 1.6rem; }

.margin-bottom {
  margin-bottom: 3.9rem; }

.margin-top {
  margin-top: 3.9rem; }

.btn-container {
  display: flex;
  margin-top: 11.4rem;
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .btn-container {
      display: flex;
      flex-direction: column;
      justify-items: center;
      grid-row-gap: 2rem; } }

.button {
  width: 34.2rem;
  height: 7.4rem;
  font-size: 2.0rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #00d646;
  color: #fff;
  border: none; }

.button:hover {
  background-color: #fff;
  color: #000; }

.intro-container {
  background-image: url(/images/landing-cover-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.intro-resume {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  padding: 20vh 0 16.8vh;
  justify-items: center; }

.resume-picture {
  max-width: 26.8rem;
  justify-self: center;
  margin-bottom: 8.8rem; }
  @media only screen and (max-width: 37.5em) {
    .resume-picture {
      max-width: 20.8rem; } }

.description {
  margin: 8.9rem 0 0;
  font-size: 2rem;
  max-width: 79.4rem;
  justify-self: center;
  color: #fff;
  line-height: 3.2rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .description {
      padding: 0 3rem; } }

.arrow-down {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  justify-items: center;
  margin-top: -5rem; }
  .arrow-down--bottom {
    margin-bottom: -5rem; }
  .arrow-down--top {
    margin-top: 12rem; }

.keyskill__container {
  background-color: #000; }

.keyskill--grid {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  padding: 15vh 0; }

.keyskill--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7.4rem;
  font-size: 1.8rem;
  line-height: 3; }
  @media only screen and (max-width: 37.5em) {
    .keyskill--section {
      display: flex;
      flex-direction: column;
      padding: 0 15rem; } }

.keyskill--right {
  text-align: right; }
  @media only screen and (max-width: 37.5em) {
    .keyskill--right {
      text-align: left; } }

.span--green {
  color: #00d646; }

.techskill {
  font-size: 1.6rem; }
  .techskill__container {
    background-color: #090909; }
  .techskill__list {
    padding-right: 2.2rem;
    text-align: right;
    width: 17.8rem;
    display: inline-block; }
  .techskill--grid {
    display: grid;
    margin: 0 auto;
    max-width: 164rem;
    padding: 15vh 0;
    justify-content: center;
    grid-row-gap: 4rem; }

.career__container {
  background-color: #000; }

.career__portfolio--link {
  text-transform: uppercase;
  color: #00d646;
  font-weight: 700;
  font-size: 1.4rem; }

.career--grid {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: repeat(4, min-content);
  padding: 15vh 0;
  justify-content: center;
  grid-row-gap: 4rem;
  grid-column-gap: 9.4rem; }
  @media only screen and (max-width: 37.5em) {
    .career--grid {
      display: flex;
      flex-direction: column; } }

.career__section {
  display: grid;
  grid-column-gap: 7.4rem;
  font-size: 1.6rem; }
  .career__section--sivvi {
    grid-row: 3/4;
    grid-column: 3 / -1; }
  .career__section--gwd {
    grid-row: 4/-1;
    grid-column: 1 / 2; }

.career--right {
  padding-left: 20rem;
  text-align: right;
  line-height: 1.9; }
  @media only screen and (max-width: 67.5em) {
    .career--right {
      padding-left: 5em; } }
  @media only screen and (max-width: 37.5em) {
    .career--right {
      text-align: left;
      padding: 0 5em; } }

.career--left {
  padding-right: 20rem;
  text-align: left;
  line-height: 1.9; }
  @media only screen and (max-width: 67.5em) {
    .career--left {
      padding-right: 5em; } }
  @media only screen and (max-width: 37.5em) {
    .career--left {
      padding: 0 5em; } }

.career--logo {
  max-width: 8.2rem; }

.career--line {
  grid-row: 2/-1;
  grid-column: 2 / 3;
  justify-self: center;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .career--line {
      display: none; } }
  .career--line-square-1 {
    grid-row: 2/3;
    grid-column: 2 / 3;
    margin-top: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .career--line-square-1 {
        display: none; } }
  .career--line-square-2 {
    grid-row: 3/4;
    grid-column: 2 / 3;
    margin-top: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .career--line-square-2 {
        display: none; } }
  .career--line-square-3 {
    grid-row: 4/5;
    grid-column: 2 / 3;
    margin-top: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .career--line-square-3 {
        display: none; } }

.career--title {
  grid-column: 1 / -1;
  grid-row: 1 / 2; }
  @media only screen and (max-width: 37.5em) {
    .career--title {
      text-align: center; } }

.career--list {
  list-style: none;
  margin: 2.5rem 0;
  font-size: 1.5rem;
  line-height: 1.9; }

.career--year {
  font-size: 1.6rem; }

.education__container {
  background-color: #090909; }

.education__list {
  padding-right: 2.2rem;
  text-align: right;
  width: 17.8rem;
  display: inline-block; }

.education--grid {
  display: grid;
  margin: 0 auto;
  max-width: 164rem;
  padding: 20vh 0 16.8vh;
  justify-items: center;
  grid-row-gap: 1.4rem; }

.education--logo {
  max-width: 8.2rem; }

.rectangle__yellow--1, .rectangle__yellow--2, .rectangle__yellow--3, .rectangle__yellow--4, .rectangle__yellow--5, .rectangle__yellow--6, .rectangle__yellow--7, .rectangle__yellow--8, .rectangle__yellow--9, .rectangle__yellow--10, .rectangle__yellow--11, .rectangle__yellow--12 {
  height: 2rem;
  fill: #00d646;
  z-index: 2;
  position: absolute;
  animation: 3s ease-out 0s 1 slideInFromLeft;
  -webkit-animation: 3s ease-out 0s 1 slideInFromLeft; }

.rectangle {
  width: 30rem;
  height: 2rem;
  fill: #fff;
  position: absolute;
  z-index: 1; }
  .rectangle__yellow--1 {
    width: 25rem; }
  .rectangle__yellow--2 {
    width: 23rem; }
  .rectangle__yellow--3 {
    width: 21rem; }
  .rectangle__yellow--4 {
    width: 21rem; }
  .rectangle__yellow--5 {
    width: 19rem; }
  .rectangle__yellow--6 {
    width: 18rem; }
  .rectangle__yellow--7 {
    width: 18rem; }
  .rectangle__yellow--8 {
    width: 18rem; }
  .rectangle__yellow--9 {
    width: 18rem; }
  .rectangle__yellow--10 {
    width: 23rem; }
  .rectangle__yellow--11 {
    width: 21rem; }
  .rectangle__yellow--12 {
    width: 18rem; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
