//Font Varialbles
$font-primary: "bebas-neue-pro",
sans-serif;

//Color Variables
$color-primary: #FFDD00;
$color-secondary: #fff;
$color-tertiary: #000;
$color-tertiary-light:#090909;


//Responsive Breakpoints



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px /16px =62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 300;
    line-height: 1.6;
    background-color: $color-tertiary-light;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    //grid-row-gap: 15rem;
    //grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 13.7rem))1fr;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}