.btn {
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 700;
    color: $color-secondary;
    width: 33rem;
    height: 7.4rem;
    background-color: $color-primary;
    text-transform: uppercase;
    border: none;

    &:hover {
        background-color: $color-secondary;
        color: $color-primary;
    }
}


////heading

.heading-1 {
    text-transform: uppercase;
    font-size: 8.4rem;
    font-weight: 800;

    .last--name {
        font-size: 14.2rem;
        font-weight: 800;
    }
}

.heading-2 {
    font-size: 4.6rem;


    &__skill--title {
        grid-column: 1/-1;
        font-weight: 800;
        font-size: 4.6rem;
        text-transform: uppercase;
        justify-self: center;

        &-white {
            color: $color-secondary;
        }
    }



}

.heading-3 {
    font-size: 3.2rem;
    color: $color-secondary;
    font-weight: 700;


}

.heading__4 {
    font-size: 3.2rem;
    color: $color-secondary;
    font-weight: 700;

}

.heading__5 {
    font-size: 2.2rem;
    color: $color-secondary;
}



////margins
.margin {

    &__bottom {
        margin-bottom: 3.9rem;
    }

    &__top {
        margin-top: 3.9rem;
    }
}


.margin-titles {
    margin: 8.8rem 0 8.8rem;
}


////margins