.footer-container {
    background-color: $color-tertiary;
}

.footer {
    max-width: 164rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 3.3rem 0;
    justify-items: center;

    @media only screen and (max-width: $bp-smallest) {
        display: flex;
        flex-direction: column;
        justify-items: center;
        line-height: 2;
        text-align: center;
        padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 1rem;
    }



    &__mail {
        text-decoration: none;
        color: $color-secondary;
    }

    &__mail:hover {
        color: $color-primary;
    }


}