.footer-container {
    background-color: $color-tertiary;
    grid-column: 1 /-1;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 54.66rem));
    padding: 4rem 0;
    max-width: 164rem;
    margin: 0 auto;
    grid-auto-flow: column;
    justify-items: center;
    font-size: 1.4rem;
    color: $color-secondary;

    @media only screen and (max-width: $bp-smallest) {
        grid-auto-flow: row;
        justify-self: start;
    }
}