.footer-container {
    background-color: $color-tertiary;
    grid-column: 1 / -1;

}


.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 6.3rem 0;
    max-width: 164rem;
    margin: 0 auto;





    &__link {
        text-decoration: none;
        font-family: $font-primary;
        font-size: 2rem;
        color: $color-secondary;

    }

    &__link:hover {
        color: $color-primary;
    }

    &__contact {
        font-size: 2rem;
        color: $color-secondary;
    }
}


.copyright {
    grid-column: 3/ 4;
    justify-self: end;
    align-self: center;
    font-size: 2rem;
}