.header-container {
    background-color: rgba($color-tertiary, .5);
    z-index: 99;



}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    max-width: 164rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 3.3rem 0;
    justify-content: space-evenly;

    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }
}

.nav {

    &__main {
        justify-self: start;
        align-self: center;
    }

    &__social {
        justify-self: end;
        align-self: center;
    }

}


a {
    color: $color-secondary;
    text-decoration: none;
}

a:hover {
    color: $color-primary;
}

.selected {
    color: $color-primary;
}

.link {

    &__main {
        padding-right: 5.8rem;
        font-size: 1.8rem;
    }

    &__social {
        padding-left: 5.8rem;
        font-size: 1.8rem;
    }
}


.logo {

    &__header {
        max-width: 14.4rem;
        justify-self: center;

    }
}



.mobile-container {
    max-width: 100%;
    margin: auto;
    // height: 500px;
    color: white;
    border-radius: 10px;

    @media only screen and (min-width: $bp-smallest) {
        display: none;
    }

    @media only screen and (max-width: $bp-smallest) {
        display: block;
    }
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}