.header-container {
    background-color: rgba($color-tertiary, 0.5);
    grid-column: 1 /-1;
    z-index: 99;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 54.66rem));
    padding: 3rem 0;
    max-width: 164rem;
    margin: 0 auto;
    grid-auto-flow: column;

    @media only screen and (max-width: $bp-smallest) {
        grid-auto-flow: row;
        justify-self: start;
    }
}

.logo__main {
    max-width: 14.4rem;
    justify-self: center;
}

a {
    text-decoration: none;
    color: $color-secondary;
}

a:hover {
    color: $color-primary;
}

.selected {
    color: $color-primary;
}

.nav {
    color: $color-secondary;
    font-size: 1.8rem;
    align-self: center;

    &__list--main {
        padding-right: 3.4rem;
    }

    &__list--social {
        padding-left: 3.4rem;

        @media only screen and (max-width: $bp-smallest) {
            padding-left: 0;
        }
    }
}

.nav--left {
    justify-self: end;

    @media only screen and (max-width: $bp-smallest) {
        justify-self: start;
    }
}