.home-container {
    grid-column: 2/-1;
    background: url(/images/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        background: url(/images/home-bg-1140.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.intro {
    grid-column: 2/-1;
    display: grid;
    justify-items: left;
    max-width: 80rem;
    padding: 25% 10% 25% 5%;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;
        justify-items: center;
        justify-self: center;
        padding: 20% 0 20% 0;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 20% 5%;
    }

}

.description {
    margin: 8.9rem 0 0;
    font-size: 2rem;
    max-width: 79.4rem;
    color: #fff;
    line-height: 3.2rem;
    text-align: left;

    @media only screen and (max-width: $bp-large) {
        text-align: center;
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin-top: 5rem;
    }
}