.btn__section {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    grid-column-gap: 3rem;



    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
        margin-left: 1.5rem;
        grid-row-gap: 3rem;
    }
}

.btn-align-right {
    justify-self: right;
}