.content-bg {
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 13.7rem))1fr;
}

.content-container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column: 2 / 14;
    grid-row-gap: 8rem;
    padding: 25rem 0 15rem;
}

.content {
    animation-name: slideIn;
    animation-duration: 3s;
    position: relative;

    .content__myName {
        font-size: 11.4rem;

    }

    .content__designation-outline {
        margin-top: -2.5rem;
        color: transparent;
        font-size: 16rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-secondary;
    }

    .content__designation {
        margin-top: -7rem;
        font-size: 26.5rem;
    }

}

.content__arrow-down {
    height: 10.4rem;
    animation-name: slideInArrow;
    animation-duration: 3s;
    position: relative;
}

.content__description {
    animation-name: slideInDes;
    animation-duration: 2s;
    position: relative;
    font-size: 3.2rem;
    text-align: center;
    max-width: 132rem;
    color: $color-secondary;
}

@keyframes slideIn {
    from {
        top: -780px;
    }

    to {
        top: 0px;

    }

}

@keyframes slideInArrow {
    from {
        top: -1200px;
    }

    to {
        top: 0px;

    }
}


@keyframes slideInDes {
    from {
        top: -1400px;
    }

    to {
        top: 0px;

    }
}