.portfolio-container {
    grid-column: 2/-1;
    grid-row: 2 / 3;
    background-color: $color-tertiary-dark;
    padding: 10%;

    @media only screen and (max-width: $bp-smallest) {
        padding: 20% 5%;
    }
}


.portfolios {
    display: grid;

    &__section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3.2rem;
    }

    &__overview {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3.2rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
        }
    }


    &__page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.2rem;
        background-color: $color-secondary;
        padding: 3.2rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            padding: 1rem;
        }

        &--1 {
            grid-template-columns: 1fr;
            background-color: $color-secondary;
            padding: 3.2rem;
            grid-gap: 3.2rem;
        }

        &--3 {
            grid-template-columns: 1fr 1fr 1fr;
            background-color: $color-secondary;
            padding: 3.2rem;
            grid-gap: 3.2rem;
        }
    }

}


.portfolio {
    position: relative;

    &__container {
        grid-column: 2/-1;
        grid-row: 2 / 3;
        background-color: $color-tertiary-dark-1;
        padding: 5% 10%;

        @media only screen and (max-width: $bp-medium) {
            padding: 10% 5%;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 20% 5%;
        }
    }

    &--tools {
        font-size: 1.6rem;
        margin-bottom: 4rem;
        text-align: right;

        @media only screen and (max-width: $bp-medium) {
            text-align: left;
        }
    }

    &--overview {
        font-size: 1.6rem;
        margin-bottom: 4rem;


        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 0;
        }
    }

    &--description {
        font-size: 1.6rem;
        line-height: 2;
    }
}

img {
    width: 100%;
}

.image,
.portfolio:hover .overlay {
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-primary, $alpha: 0.7);
    overflow: hidden;
    max-width: auto;
    height: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}


.port {
    grid-row: 1/2;
    grid-column: 1/-1;
}


.nav {

    &__portfolio {
        display: grid;
        grid-gap: 1.6rem;
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
        position: sticky;
        top: 0;

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__portfolio {
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-secondary;
        text-align: center;
    }




    &__portfolio:hover {
        color: $color-primary;

    }
}

.portfolio__button {
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $font-primary;
    background-color: $color-tertiary-dark;
    color: $color-secondary;
    border: none;
    text-align: center;
    cursor: pointer;

    &--selected {
        width: 100%;
        padding: 1.5rem 1rem;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: $font-primary;
        background-color: $color-primary;
        color: $color-tertiary;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

.portfolio__button:hover {
    background-color: $color-primary;
    color: $color-tertiary;
}




.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}