.intro-container {
    background-image: url(/images/landing-cover-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.intro-resume {
    display: grid;
    margin: 0 auto;
    max-width: 164rem;
    padding: 20vh 0 16.8vh;
    justify-items: center;
}

.resume-picture {
    max-width: 26.8rem;
    justify-self: center;
    margin-bottom: 8.8rem;

    @media only screen and (max-width: $bp-smallest) {
        max-width: 20.8rem;
    }


}


.description {
    margin: 8.9rem 0 0;
    font-size: 2rem;
    max-width: 79.4rem;
    justify-self: center;
    color: $color-secondary;
    line-height: 3.2rem;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
        padding: 0 3rem;
    }


}


.arrow-down {
    display: grid;
    margin: 0 auto;
    max-width: 164rem;
    justify-items: center;
    margin-top: -5rem;

    &--bottom {
        margin-bottom: -5rem;
    }

    &--top {
        margin-top: 12rem;
    }

}


.keyskill {

    &__container {
        background-color: $color-tertiary;
    }

    &--grid {
        display: grid;
        margin: 0 auto;
        max-width: 164rem;
        padding: 15vh 0;
    }

    &--section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 7.4rem;
        font-size: 1.8rem;
        line-height: 3;

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            flex-direction: column;
            padding: 0 10rem;
        }
    }

    &--right {
        text-align: right;

        @media only screen and (max-width: $bp-smallest) {
            text-align: left;
        }
    }

}

.span {
    &--green {
        color: $color-primary;
    }

}

.techskill {
    font-size: 1.6rem;
    padding-left: 2rem;

    &__container {
        background-color: $color-tertiary-light;
    }

    &__list {
        padding-right: 2.2rem;
        text-align: right;
        width: 17.8rem;
        display: inline-block;
    }

    &--grid {
        display: grid;
        margin: 0 auto;
        max-width: 164rem;
        padding: 15vh 0;
        justify-content: center;
        grid-row-gap: 4rem;

        @media only screen and (max-width: $bp-smallest) {
            justify-self: center;
            display: flex;
            flex-direction: column;

        }
    }
}


.career {


    &__container {
        background-color: $color-tertiary;
    }

    &__portfolio--link {
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 700;
        font-size: 1.4rem;
    }

    &--grid {
        display: grid;
        margin: 0 auto;
        max-width: 164rem;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: repeat(4, min-content);
        padding: 15vh 0;
        justify-content: center;
        grid-row-gap: 4rem;
        grid-column-gap: 9.4rem;

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            flex-direction: column;
        }

    }

    &__section {
        display: grid;
        grid-column-gap: 7.4rem;
        font-size: 1.6rem;


        &--sivvi {
            grid-row: 3/4;
            grid-column: 3 / -1;
        }


        &--gwd {
            grid-row: 4/-1;
            grid-column: 1 / 2;
        }

    }

    &--right {
        padding-left: 20rem;
        text-align: right;
        line-height: 1.9;

        @media only screen and (max-width: $bp-medium) {
            padding-left: 5em;
        }

        @media only screen and (max-width: $bp-smallest) {
            text-align: left;
            padding: 0 5em;
        }

    }

    &--left {
        padding-right: 20rem;
        text-align: left;
        line-height: 1.9;

        @media only screen and (max-width: $bp-medium) {
            padding-right: 5em;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 0 5em;
        }

    }

    &--logo {
        max-width: 8.2rem;
    }

    &--line {
        grid-row: 2/-1;
        grid-column: 2 / 3;
        justify-self: center;
        height: 100%;

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }


        &-square-1 {
            grid-row: 2/3;
            grid-column: 2 / 3;
            margin-top: 3rem;

            @media only screen and (max-width: $bp-smallest) {
                display: none;
            }

        }

        &-square-2 {
            grid-row: 3/4;
            grid-column: 2 / 3;
            margin-top: 3rem;

            @media only screen and (max-width: $bp-smallest) {
                display: none;
            }

        }

        &-square-3 {
            grid-row: 4/5;
            grid-column: 2 / 3;
            margin-top: 3rem;

            @media only screen and (max-width: $bp-smallest) {
                display: none;
            }

        }
    }


    &--title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
        }

    }

    &--list {
        list-style: none;
        margin: 2.5rem 0;
        font-size: 1.5rem;
        line-height: 1.9;
    }

    &--year {
        font-size: 1.6rem;
    }

}





.education {



    &__container {
        background-color: $color-tertiary-light;
    }

    &__list {
        padding-right: 2.2rem;
        text-align: right;
        width: 17.8rem;
        display: inline-block;
    }

    &--grid {
        display: grid;
        margin: 0 auto;
        max-width: 164rem;
        padding: 20vh 0 16.8vh;
        justify-items: center;
        grid-row-gap: 1.4rem;
    }

    &--logo {
        max-width: 8.2rem;
    }
}






///skill section

%yellow-rec {
    height: 2rem;
    fill: $color-primary;
    z-index: 2;
    position: absolute;
    animation: 3s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 3s ease-out 0s 1 slideInFromLeft;
}


.rectangle {
    width: 30rem;
    height: 2rem;
    fill: $color-secondary;
    position: absolute;
    z-index: 1;



    &__yellow--1 {
        @extend %yellow-rec;
        width: 25rem;
    }

    &__yellow--2 {
        @extend %yellow-rec;
        width: 23rem;
    }

    &__yellow--3 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--4 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--5 {
        @extend %yellow-rec;
        width: 19rem;
    }

    &__yellow--6 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--7 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--8 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--9 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--10 {
        @extend %yellow-rec;
        width: 23rem;
    }

    &__yellow--11 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--12 {
        @extend %yellow-rec;
        width: 18rem;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}