.content__main {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    max-width: 164rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 16.3vh 0 0;

    &--section-name {
        display: grid;
        grid-template-rows: repeat(6, min-content);

    }

    &--section-keyskill {
        grid-column: 2/14;
        grid-column-gap: 7.4rem;
        display: grid;
        max-width: 164rem;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        grid-template-rows: repeat(3, min-content);
    }

    &--section-techskill {
        grid-column: 2/14;
        grid-column-gap: 7.4rem;
        display: grid;
        max-width: 164rem;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        grid-template-rows: repeat(3, min-content);
        margin: 0 auto;
        justify-content: center;
    }

}

.skill-1 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7.4rem;


    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: 1fr;
        margin: 0 5rem;
    }
}

.skills {

    color: $color-secondary;
    font-size: 1.8rem;
    line-height: 4rem;

    &--right {
        text-align: right;

        @media only screen and (max-width: $bp-smallest) {
            text-align: left;
        }
    }

    &--left {
        text-align: left;
    }
}

.techskill {
    font-size: 1.6rem;
    color: $color-secondary;


    &__list {
        padding-right: 2.2rem;
        width: 20rem;
        display: inline-block;
        text-align: right;



    }
}



.description {
    margin: 8.9rem 0 16.8rem;
    font-size: 2rem;
    max-width: 79.4rem;
    justify-self: center;
    color: $color-secondary;
    line-height: 3.2rem;
}

.resume-picture {
    max-width: 26.8rem;
    justify-self: center;
    margin-bottom: 8.8rem;
}

.arrow-down {
    justify-self: center;
    margin: 8.8rem 0;
}


///skill section







%yellow-rec {
    height: 2rem;
    fill: $color-primary;
    z-index: 2;
    position: absolute;
    animation: 3s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 3s ease-out 0s 1 slideInFromLeft;
}


.rectangle {
    width: 30rem;
    height: 2rem;
    fill: $color-secondary;
    position: absolute;
    z-index: 1;

    @media only screen and (max-width: $bp-smallest) {
        display: grid;
        flex-direction: row;
    }

    &__yellow--1 {
        @extend %yellow-rec;
        width: 25rem;
    }

    &__yellow--2 {
        @extend %yellow-rec;
        width: 23rem;
    }

    &__yellow--3 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--4 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--5 {
        @extend %yellow-rec;
        width: 19rem;
    }

    &__yellow--6 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--7 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--8 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--9 {
        @extend %yellow-rec;
        width: 18rem;
    }

    &__yellow--10 {
        @extend %yellow-rec;
        width: 23rem;
    }

    &__yellow--11 {
        @extend %yellow-rec;
        width: 21rem;
    }

    &__yellow--12 {
        @extend %yellow-rec;
        width: 18rem;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}