.sidebar-container {
    grid-row: 1 /-1;
    background-color: $color-tertiary;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 200rem;
    width: 43.2rem;

    @media only screen and (max-width: $bp-smallest) {
        display: none;

    }
}

.sidebar {
    padding: 7.2rem;

    &__mail {
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.6rem;

    }

    &__contact {
        color: $color-secondary;
        font-size: 1.6rem;
    }
}

.logo__header {
    max-width: 14rem;
}



.nav__main a {
    display: block;
    padding: 16px 0;
    text-decoration: none;
    color: $color-secondary;
    font-size: 1.8rem;
}

a:hover {
    color: $color-primary;
}

.nav__main {
    margin: 12.7rem 0;
}


.email__section {
    margin-bottom: 3.8rem;
}