.sidebar-container {
    grid-row: 1 / 7;
    background-color: $color-tertiary;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.sidebar {
    position: fixed;
    padding: 6rem;
    max-width: 23rem;

    &__mail {
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.6rem;
    }

    &__contact {
        color: $color-secondary;
        font-size: 1.6rem;
    }
}

.logo__header {
    max-width: 14rem;

    @media only screen and (max-width: $bp-smallest) {
        max-width: 10rem;
    }
}


.nav__main {
    margin: 12.7rem 0;
}


.nav__main a {
    display: block;
    padding: 16px 0;
    font-size: 1.8rem;
}


.email__section {
    margin-bottom: 3.8rem;
}


.topnav {
    display: none;
    position: fixed;
    background-color: rgba($color-tertiary, $alpha: 0.9);
    width: 100%;
    z-index: 2;

    @media only screen and (max-width: $bp-medium) {
        display: block;
        transition: top 0.5s;
        /*Transitioneffectwhenslidingdown(andup)*/
        -webkit-transition: top 0.5s;
        -moz-transition: top 0.5s;
        -ms-transition: top 0.5s;
        -o-transition: top 0.5s;
    }
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: block;

}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem;

    @media only screen and (max-width: $bp-smallest) {
        padding: 2.5rem;
    }
}